h1 {
  font-size: 40px;
  font-family: 'Bungee Shade', cursive;
  color: #802525;
} 

.nav-item {
  padding-right: 90px;
}

.navbar-brand {
  padding-left: 20px !important;
}

body {
  background-image: url(../imgs/jasper-site.png);
  background-size: cover;
  min-height: 100vh;
}

.navbar-collapse {
  text-align: center;
}

.navbar {
  position:static;
  background: rgba(255, 255, 255, 0.25) !important; 
  top: 0;
  right: 0;
  left: 0;
}

.nav-link:hover {
  color: #802525;
  border-bottom-style: solid;
  border-bottom-color: #802525;
  border-width: 5px;
}

.d-flex {
  padding-right: 85px !important;
}

.titulo {
  width:200px;
  height: 500px;
  margin-top: 25%;
  margin-left: 10%;
  
}
  
.fonte {
  line-height: 1.6;
  font-family: bebas-neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  color: #802525;
}
  
.conteudo {
  width:400px;
  margin-top: 33%;
  font-size: large;
}
  
.fonte-2 {
  font-family: 'Amiko', sans-serif;
  text-align: justify;
  color: #895736;
}

.alinhamento{
  margin-left: 14%;
}

.botao {
  font-family: 'Amiko', sans-serif;
  color: #d9d0d0;
  background-color: #a34646;
  width: 200px;
  height: 70px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: #802525 0px 7px 15px 0px;
}
  
.botao:hover {
  background-color: #802525;
}
  
.buttom {
  margin-top: 3%;
}

